body {
    margin: 20px;
    padding: 20px;
    background-color: white;
    color: #40110D;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.gameboard {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 800px;
    background-color: white;
    align-items: stretch;
    text-align: center;
}

.guess-counter-image {
    height: 400px;
    width: 400px;
}

#display-stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

